*{
    box-sizing: border-box;
}
body{
    margin: 0;
}

.backdrop{
    position: fixed;
    display:none;
    top:0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background: rgb (0,0,0,0,5);
}

.one{
    background-color: pink;
    background-image: url(purple.jpeg);
    background-size: cover;
    background-position: left 10% bottom 10%;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-clip: border-box;
    font-family: courier;
    color: rgba(75, 22, 75, 0.849);
    padding: 15px;
    height: 600px;
    width: 100vw;
    margin: 0;
    font-size: 1.6rem;
}

.three{
    background-color: rgb(233, 7, 233);
    text-align: center;
    padding: 25px;
    width: 100%;
    margin:0.5rem 0;
   
}

@media (min-width: 40rem)  and (min-height:60rem){
    .one{
        font-size: 3rem;
        height: 40vh;
        background-position: 50% 25%;
    }
}

#two, #three{
    color: darkmagenta;
    text-align: center;
    font-family: courier;
    font-weight: bolder;
}

.four{
    background-color:plum;
    font-size: medium;
}

.five{
    background-color: pink;
    padding: 3px;
    box-shadow: 2px 2px 2px 2px purple;
    border-radius: 8px;
    color:blue
}

.six{
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (min-width: 800px) {
    body {
        text-align: center; 
    }

    .three {
        display: inline-block;
        width: 30%; 
        text-align: center; 
        vertical-align: top; 
        min-width: 13rem;
        max-width: 20rem;
        margin: 0.5rem; 
    }
}

.four{
    box-shadow: 2px 2px 2px 2px purple;
}


.six li{
    margin: 10px 10px;
}

.title{
    color: blue;
}

.price{
    color:whitesmoke;
}



#section{
    background-color: darkorchid;
    padding: 20px;
    margin-top: 30px;
}

#section #three{
    color: white;
}

.list{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.image{
    background-color: white;
    width: 120px;
    height: 120px;
    border: 19px solid pink;
    border-radius: 70%;
    margin:auto;
}

.description{
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 20px;
}

@media (min-width: 40rem), (orientation:landscape){
    .element {
        display: inline-block;
        width: 30%;
        max-width: 25rem;
        vertical-align: top;
}
}

.modal {
    position: fixed;
    display: none;
    z-index: 200;
    top: 20%;
    left: 30%;
    width: 40%;
    background: white;
    padding: 1rem;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
  
  .modal__title {
    text-align: center;
    margin: 0 0 1rem 0;
  }
  
  .modal__actions {
    text-align: center;
  }
  
  .modal__action {
    border: 1px solid #0e4f1f;
    background: #0e4f1f;
    text-decoration: none;
    color: white;
    font: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  .modal__action:hover,
  .modal__action:active {
    background: #2ddf5c;
    border-color: #2ddf5c;
  }
  
  .modal__action--negative {
    background: red;
    border-color: red;
  }
  
  .modal__action--negative:hover,
  .modal__action--negative:active {
    background: #ff5454;
    border-color: #ff5454;
  }

  
